.hero-title {
  font-size: 60px;
  background-color: #AE759F;
  text-align: center;
  width: 670px;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 5px;
}

.selling-points div {
  float: left;
  width: 29%;
  background-color: #BC96E6;
  margin: 3vw;
  padding: 10px;
  box-sizing: border-box;
  min-height: 150px;
  text-align: center;
  border-radius: 5px;
}

.selling-points .point-one {
  margin-right: 0;  
}

.selling-points .point-three {
  margin-left: 0;
}